.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-col, .right-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-col {
    justify-content: start; 
    align-items: flex-start;
    width: 75%;
}

.left-col {
    justify-content: center; 
    align-items: center;
    width: 50%;
}

.left-col #profile {
    height: 250px;
    width: auto;
    background-size:contain;
    border: 5px solid goldenrod;
    border-radius: 10%;
}